services:
  postgres:
    image: postgres:16
    container_name: condominio-db
    environment:
      POSTGRES_DB: condominio_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: