<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Condomínio</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarConteudo">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarConteudo">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/relatorios}">Relatórios</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/despesas}">Despesas</a>
                </li>
                
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/despesas/padroes/gerenciar}">Despesas Recorrentes</a>
                </li>
                
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/boletos/preparo-em-lote}">Gerar Recibos</a>
                </li>
            </ul>

            <div class="d-flex align-items-center text-white ms-auto">
                <span class="me-3 navbar-text text-white">
                    Olá, <strong th:text="${nomeUsuario}">Usuário</strong>
                </span>
                
                <form th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-light btn-sm">Sair</button>
                </form>
            </div>
        </div>
    </div>
</nav>